<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>About</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container"> <!--so i have control over margins-->
     <section class="bio-head">
           <h1 style="text-align: center;">CHARLES HASTINGS</h1>
           <h1 style="text-align: center; margin-top: 1px">Aspiring Cybersecurity Technician</h1>
           </section>
     <!--BIO Section-->
    <section class="bio-section">
    <p style="text-align: center; margin-top: 1px;">Charles Hastings is an experienced, adaptable and service-oriented IT technician with over 3 years of hands on experience managing and supporting enterprise DoD systems. 
        He has a track record of providing support for hardware, software and DoD IT SOPs (Standard Operating Procedures) in high-pressure environments. Originally from Westchester NY, Charles now embarks on
    his journey in North County San Diego to continue to hone his skills in IT support and complete a BS in Cybersecurity Technologies. </p>
    </section>
    <div style="text-align: center;margin-top: 2px;">
    <a class="back-button" href="/">Back to Home</a>
    </div>
</div>
</body>
</html>